<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/article.css" type="text/css">
    <link rel="icon" href="/static/img/fire.png" sizes="16x16 32x32 64x64 128x128" type="image/png">
    <title>Архив всех статей</title>
</head>
<body>
<div class="archiveHeader">
    <a href="signup">Зарегестрироваться</a>
    <a href="auth">Войти</a>
    <a href="article/new">Новая статья</a>
    <img src="/static/img/dpb-logo_purple.png"/>
</div>
<div class="archive">
    {% for post in posts %}
    <div class="one-post">
        <div class="fold-button">{{ "Свернуть" }}</div>
        <a href="/article/{{ post.id }}/">
            <h2 class="post-title">{{ post.title }}</h2></a>>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.get_excerpt }}</p>
    </div>
    {% endfor %}
</div>
<script src="/static/js/helloworld.js"></script>
<script src="/static/js/fold-post.js"></script>
</body>
</html>